@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

@layer base {
	body {
		@apply font-body;
	}
    button {
        @apply font-body;
    }
}

@layer components {
	.container {
		@apply mx-auto px-4 max-w-6xl;
	}
}

.swiper-slide-thumb-active img {
    @apply border-2 border-indigo-500 p-0.5;
}

.animate-move-left {
    animation: move-left 50s linear infinite
}

@keyframes move-left {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}